.main{
    text-align: center;
    width: 500px;
    height: 350px;
    margin: 20px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.head2{
  
    width: 250px;
    height: 170px;
    /* box-shadow: 0 20px 20px rgb(1,1,1,0.5),
     0 20px 20px rgb(1,1,1,0.5); */
    display:flex ;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;  
    padding: 20px; 
}

#timer{
    margin: 20px auto;
    font-size: 90px;
}

body::after{
    content: " ";
    background-image: url(timer.avif);
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.5;
    left: 0px;
    top: 0px;
    background-position: center;
    width: 100vw;
    height: 100vh;
}  



.head1{
    color: rgb(14, 14, 94);
}

.head1>h1{
   background-color: rgb(246, 255, 255);
}

#btnSt:hover {
    cursor: pointer;
    background-color: brown;
    color: white;
  }

#btnSp:hover {
    cursor: pointer;
     background-color: brown;
    color: white;
  }
#btnRs:hover {
    cursor: pointer;
     background-color: brown;
    color: white;
  }

#btnSt{
    background-color: rgb(202, 153, 78);
    font-size: large;
    margin-right: 20px;
    border-radius: 1px solid black;
}

#btnSp{
    background-color: rgb(202, 153, 78);
     font-size: large;
    margin-right: 20px;
    border-radius: 1px solid black;
}

#btnRs{
    background-color: rgb(202, 153, 78);
     font-size: large;
    border-radius: 1px solid black;
}